.App {
  text-align: center;
  height: 100%;
}
body {
  background-color: #0c2b4b;
  padding: 15px;
}



.Site_Container {
  background-color: #f0f4f5;
  border: 2px #667488 solid;
  text-align: center;
  padding: 15px;
  border-radius: 1cm;
}

.Nav_Items {
  display:inline;
  list-style-type: none;
  overflow:hidden;
}

.Nav_Item {
  outline: none;
  background: transparent;
  border: 0;
}

.Nav_Item:focus {
  background-color: #0c2b4b;
  color: #f0f4f5;
}

.Nav_Item:hover {
  background-color: #0c2b4b;
  color: #f0f4f5;
}

.Cards {
  display:flex;
}
.Card_Container {
  border: 2px #849cac solid;
  border-radius: 15px;
  margin-top: 15px;
}
